.wrapper {
  min-width: 300px;
  display: flex;
  align-items: center;
}

.wrap {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.fs-token {
  min-width: 250px;
  margin-bottom: 10px;
}

.fs-button {

}

.fs-icon {
  margin-left: 5px;
}

.fs-success {
  display: block;
}

.fs-hide {
  display: none;
  padding: 10px;
  margin-bottom: 10px;
}